.text-center {
  text-align: center;
}

/*HEALTH SECTION =========================================*/

.healthbar {
  width: 80%;
  height: 40px;
  background-color: #ddd;
  margin: auto;
  transition: width 500ms;
}

.health {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 3px;
  width: 100%;
}

.healthbar h4 {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  vertical-align: middle;
}

/*CONTROLS SECTION =========================================*/

.controls, .log {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px #ccc;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}
/*LOG SECTION =========================================*/
section.log {
  margin-top: 5%;
}

.log ul {
  list-style: none;
  font-weight: bold;
}

.log ul li {
  margin: 5px;
}

.log ul .player {
  color: blue;
  background-color: #e4e8ff;
}

.log ul .monster {
  color: red;
  background-color: #ffc0c1;
  margin-bottom: 4%;
}

/*BUTTON SECTION =========================================*/

button {
  font-size: 20px;
  background-color: #eee;
  padding: 12px;
  box-shadow: 0 1px 1px black;
  margin: 10px;
}

#start-game {
  background-color: #aaffb0;
}

#start-game:hover {
  background-color: #76ff7e;
}

#attack {
  background-color: #ff7367;
}

#attack:hover {
  background-color: #ff3f43;
}

#special-attack {
  background-color: #ffaf4f;
}

#special-attack:hover {
  background-color: #ff9a2b;
}

#heal {
  background-color: #aaffb0;
}

#heal:hover {
  background-color: #76ff7e;
}

#give-up {
  background-color: #ffffff;
}

#give-up:hover {
  background-color: #c7c7c7;
}


/*FADE SECTION =========================================*/

.fade-enter-active, .fade-leave-active {
  position: absolute;
  width: 100%;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*TOP TO BOTTOM SECTION =========================================*/

/*.top-to-bottom {*/
/*  display: flex;*/
/*  flex-direction: column-reverse;*/
/*}*/