.gray {
  padding-left: 10px;
  width: 350px;
  height: 50px;
  background-color: gray;
}

.pink {
  padding-left: 10px;
  width: 350px;
  height: 50px;
  background-color: pink;
}

.fixed {
  padding-left: 10px;
  width: 350px;
  height: 50px;
  background-color: lavender;
}
